@model InventoryManagement.Models.ReportModels.InvoiceReportViewModel
@{
    Layout = null;
}

<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Report</title>
    <meta name="author" content="Bess" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        h1 {
            color: #585858;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 22pt;
        }

        .s1 {
            color: black;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
        }

        .s2 {
            color: #808080;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 14pt;
        }

        .s3 {
            color: #FFF;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10pt;
        }

        .s4 {
            color: black;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10pt;
        }

        .s5 {
            color: black;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10pt;
        }

        h2 {
            color: black;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 10pt;
        }

        p {
            color: black;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12pt;
            margin: 0pt;
        }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>

<body>
    <h1 style="padding-top: 4pt;padding-left: 6pt;text-indent: 0pt;text-align: center;">
        BÁO CÁO XUẤT KHO
    </h1>
    <p class="s1" style="padding-top: 6pt;padding-left: 10pt;text-indent: 0pt;line-height: 192%;text-align: left;">
        KPM Tech Co.,Ltd.
    </p>
    <p class="s1" style="padding-top: 2pt;padding-left: 9pt;text-indent: 0pt;text-align: left;">
        Lô CN 09-20 CCN Ninh Hiệp, quốc lộ 1A, Xã Ninh Hiệp, huyện Gia Lâm, Hà Nội
    </p>
    <p class="s1" style="padding-top: 4pt; padding-left: 9pt;text-indent: 0pt;text-align: left;">Phone: 02466567290</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin-left:6.01pt" cellspacing="0">
        <tr style="height:47pt">
            <td style="width:162pt;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                <p style="text-indent: 0pt;text-align: left;" />
                <p class="s2" style="text-indent: 0pt;line-height: 17pt;text-align: left;">THỜI GIAN:</p>
                <br />
                <p class="s2" style="text-indent: 0pt;line-height: 17pt;text-align: left; font-size:15px;">@DateTime.Now.ToString("dd/MM/yyyy")</p>
            <td style="width:280pt;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                <p style="text-indent: 0pt;text-align: left;" />
                <p class="s2" style="text-indent: 0pt;line-height: 17pt;text-align: left;">BÁO CÁO ĐƯỢC LẬP BỞI:</p>
                <br />
                <p class="s2" style="text-indent: 0pt;line-height: 17pt;text-align: left;">@Model.ReportAuthor</p>
            </td>
            <td style="width:31pt;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:248pt;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                <p style="text-indent: 0pt;text-align: left;" />
                <p class="s2" style="text-indent: 0pt;line-height: 17pt;text-align: left;">CHỮ KÝ:</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Nhập từ NCC: @Model.TotalAmountToVND</p>
    <p style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Nhập từ KH: @Model.TotalReturnAmountToVND</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Báo cáo nhập hàng</p>
    <table style="border-collapse:collapse;margin-left:6.2495pt" cellspacing="0">
        <thead>
            <tr style="height:30pt">
                <th style="width:15pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#212B35">
                    <p class="s3" style="padding-right: 6pt;text-indent: 0pt;text-align: left;">#</p>
                </th>
                <th style="width:150pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#FFD966">
                    <p class="s4" style="padding-left: 14pt;padding-right: 14pt;text-indent: 2pt;text-align: center;">
                        Sản phẩm
                    </p>
                </th>
                <th style="width:40pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#FFD966">
                    <p class="s4" style="padding-left: 13pt; padding-right: 12pt; text-indent: 1pt; text-align: center;">
                        Số lượng
                    </p>
                </th>
                <th style="width:150pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#FFD966">
                    <p class="s4" style="padding-left: 25pt; padding-right: 6pt; text-indent: -18pt; text-align: center;">
                        Đơn vị tính
                    </p>
                </th>
                <th style="width:150pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#FFD966">
                    <p class="s4" style="padding-left: 19pt; padding-right: 8pt; text-indent: -9pt; text-align: center;">
                        Tổng tiền
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
            }
            @foreach (var item in Model.Details)
            {
                if (item.InvoiceType == InventoryManagement.Commons.Enums.InvoiceTypeEnum.Invoice)
                {
                    <tr style="height:30pt">
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                            bgcolor="#D5DCE3">
                            <p class="s5" style="padding-top: 8pt;padding-right: 4pt;text-indent: 0pt;text-align: left;">@index</p>
                        </td>
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                            <p style="text-indent: 0pt;text-align: left;"><br />@Html.DisplayFor(modelItem => item.Name)</p>
                        </td>
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pdsat;border-right-color:#BEBEBE">
                            <p style="text-indent: 0pt;text-align: center;"><br />@Html.DisplayFor(modelItem => item.Quantity)</p>
                        </td>
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                            <p style="text-indent: 0pt; text-align: center;"><br />@Html.DisplayFor(modelItem => item.Unit)</p>
                        </td>
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                            <p style="text-indent: 0pt; text-align: center;"><br />@Html.DisplayFor(modelItem => item.TotalToString)</p>
                        </td>
                    </tr>
                }
                index++;
            }
        </tbody>
    </table>

    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 6pt;text-indent: 0pt;text-align: left;">Báo cáo nhập hàng trả lại từ KH</p>
    <table style="border-collapse:collapse;margin-left:6.2495pt" cellspacing="0">
        <thead>
            <tr style="height:30pt">
                <th style="width:15pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#212B35">
                    <p class="s3" style="padding-right: 6pt;text-indent: 0pt;text-align: left;">#</p>
                </th>
                <th style="width:150pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#FFD966">
                    <p class="s4" style="padding-left: 14pt; padding-right: 14pt; text-indent: 2pt; text-align: center;">
                        Sản phẩm
                    </p>
                </th>
                <th style="width:40pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#FFD966">
                    <p class="s4" style="padding-left: 13pt; padding-right: 12pt; text-indent: 1pt; text-align: center;">
                        Số lượng
                    </p>
                </th>
                <th style="width:150pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#FFD966">
                    <p class="s4" style="padding-left: 25pt; padding-right: 6pt; text-indent: -18pt; text-align: center;">
                        Đơn vị tính
                    </p>
                </th>
                <th style="width:150pt;border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                    bgcolor="#FFD966">
                    <p class="s4" style="padding-left: 19pt; padding-right: 8pt; text-indent: -9pt; text-align: center;">
                        Tổng tiền
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                index = 1;
            }
            @foreach (var item in Model.Details)
            {
                if (item.InvoiceType == InventoryManagement.Commons.Enums.InvoiceTypeEnum.ReturnInvoice)
                {
                    var difference = (item.Total - item.OriginalTotal) / item.OriginalTotal * 100;
                    <tr style="height:30pt">
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE"
                            bgcolor="#D5DCE3">
                            <p class="s5" style="padding-top: 8pt;padding-right: 4pt;text-indent: 0pt;text-align: left;">@index</p>
                        </td>
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                            <p style="text-indent: 0pt;text-align: left;"><br />@Html.DisplayFor(modelItem => item.Name)</p>
                        </td>
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pdsat;border-right-color:#BEBEBE">
                            <p style="text-indent: 0pt; text-align: center;"><br />@Html.DisplayFor(modelItem => item.Quantity)</p>
                        </td>
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                            <p style="text-indent: 0pt; text-align: center;"><br />@Html.DisplayFor(modelItem => item.Unit)</p>
                        </td>
                        <td style="border-top-style:solid;border-top-width:1pt;border-top-color:#BEBEBE;border-left-style:solid;border-left-width:1pt;border-left-color:#BEBEBE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#BEBEBE;border-right-style:solid;border-right-width:1pt;border-right-color:#BEBEBE">
                            <p style="text-indent: 0pt; text-align: center;"><br />@Html.DisplayFor(modelItem => item.TotalToString)</p>
                        </td>
                    </tr>
                }
                index++;
            }
        </tbody>
    </table>
</body>

</html>