@using InventoryManagement.Commons.Enums
@model List<InventoryManagement.Domains.Entities.PurchaseInvoice>
@{
    ViewData["Title"] = "Cập nhật kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tblView" style="width:100%;" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td colspan="2">
                <table class="table table-striped table-bordered" cellspacing="0" cellpadding="3" align="Center" rules="all" border="1" id="dtgrView" style="border-style:None;width:100%;border-collapse:collapse;">
                    <thead>
                        <tr class="header" style="background-color:#F4F4F4;font-weight:bold;">
                            <td>Mã HĐ</td>
                            <td>Loại HĐ</td>
                            <td>Note</td>
                            <td>Ngày lập</td>
                            <td>Lần sửa gần nhất</td>
                            <td style="width:10px;">&nbsp;Chi tiết&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>
                                    @{ 
                                        var type = "";
                                        if (item.InvoiceType == InvoiceTypeEnum.Invoice)
                                            type = "Nhập";
                                        if (item.InvoiceType == InvoiceTypeEnum.ReturnInvoice)
                                            type = "Trả hàng";
                                    }
                                    @type
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Note)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreateAt)</td>
                                <td>@Html.DisplayFor(modelItem => item.UpdateAt)</td>
                                <td align="center"><a href="@Url.Action("ConfirmUpdateWarehouse", "Warehouse", new { id = item.Id })"><img border="0" src="/iconcp/preview.png"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="tr-view">
            <td class="td-view-left">
                <input type="submit" name="btnDelete" value="Xóa" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnUpdate2&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="btnUpdate2" class="button">
            </td>
            <td class="td-view-right">
                <input type="submit" name="btnAdd2" value="Thêm mới" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnAdd2&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="btnAdd2" class="button">
                <input type="reset" class="button" name="cmdReset" value="Mặc định">
            </td>
        </tr>
    </tbody>
</table>

