@using InventoryManagement.Models.CategoryModels
@model List<CategoryViewModel>
@{
    ViewData["Title"] = "Danh mục nhóm hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tblView" style="width:100%;" cellpadding="0" cellspacing="0">
    <tbody>
        <tr class="tr-view">
            <td class="td-view-left">
            </td>
            <td class="td-view-right">
                <a asp-action="Create" class="button btn-add">Thêm mới</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-striped table-bordered" cellspacing="0" cellpadding="3" align="Center" rules="all" border="1" id="dtgrView" style="border-style:None;width:100%;border-collapse:collapse;">
                    <thead>
                        <tr class="header" style="background-color:#F4F4F4;font-weight:bold;">
                            <td>Ảnh</td>
                            <td>Tên</td>
                            <td>Mô tả</td>
                            <td>&nbsp;Sửa&nbsp;</td>
                            <td>&nbsp;Xóa&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: center;"><img style="width: 60px" src="@Html.DisplayFor(modelItem => item.Image)" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td align="center"><a href="@Url.Action("Update", "Category", new { id = item.Id })"><img border="0" src="/iconcp/icon_edit.gif"></a></td>
                                <td align="center"><a onclick="javascript:return confirm('Nếu bạn xoá menu (Danh mục ngành hàng) thì toàn bộ sản phẩm thuộc (Ngành hàng) sẽ bị xoá theo. Bạn chắc chắn muốn xoá menu (Danh mục ngành hàng) không?');" href="@Url.Action("Delete", "Category", new { id = item.Id })"><img border="0" src="/iconcp/icon_delete.gif"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
