@using InventoryManagement.Models.UserModels
@using InventoryManagement.Commons.Enums
@model List<UserViewModel>
@{
    ViewData["Title"] = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tblView" style="width:100%;" cellpadding="0" cellspacing="0">
    <tbody>
        <tr class="tr-view">
            <td class="td-view-left">
                <a asp-action="RecoveryPasswordRequest" class="button btn-add">Yêu cầu lấy lại mật khẩu</a>
            </td>
            <td class="td-view-right">
                <a asp-action="Create" class="button btn-add">Thêm mới</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-striped table-bordered" cellspacing="0" cellpadding="3" align="Center" rules="all" border="1" id="dtgrView" style="border-style:None;width:100%;border-collapse:collapse;">
                    <thead>
                        <tr class="header" style="background-color:#F4F4F4;font-weight:bold;">
                            <td>Họ tên</td>
                            <td>Tên đăng nhập</td>
                            <td>Chức vụ</td>
                            <td>SĐT</td>
                            <td>Ngày bắt đầu làm việc</td>
                            <td>Hiện</td>
                            <td style="width:10px;">&nbsp;Sửa&nbsp;</td>
                            <td style="width:10px;">&nbsp;Ẩn&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var style = "";
                            var isLock = "";
                            if(item.IsActive == ActiveEnum.InActive)
                            {
                                style = "background-color: #ff7f50";
                                isLock = "display: none";
                            }
                            <tr style="@style">
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.RoleDescription)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartDateOfEmployment)</td>
                                <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                <td align="center"><a href="@Url.Action("Update", "User", new { id = item.Id })"><img border="0" src="/iconcp/icon_edit.gif"></a></td>
                                <td align="center"><a style="@isLock" href="@Url.Action("Delete", "User", new { id = item.Id })" onclick="javascript:return confirm('Bạn chắc chắn muốn khóa Nhân viên @item.FullName không?');"><img border="0" src="/iconcp/icon_delete.gif"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

