@model List<InventoryManagement.Models.UserModels.UserViewModel>
@{
    ViewData["Title"] = "Danh sách yêu cầu lấy lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tblView" style="width:100%;" cellpadding="0" cellspacing="0">
    <tbody>
        <tr class="tr-view">
            <td class="td-view-left">
            </td>
            <td class="td-view-right">
                <a asp-action="Create" class="button btn-add">Thêm mới</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-striped table-bordered" cellspacing="0" cellpadding="3" align="Center" rules="all" border="1" id="dtgrView" style="border-style:None;width:100%;border-collapse:collapse;">
                    <thead>
                        <tr class="header" style="background-color:#F4F4F4;font-weight:bold;">
                            <td>Họ tên</td>
                            <td>SĐT</td>
                            <td>Email</td>
                            <td style="width:10px;">&nbsp;Chi tiết&nbsp;</td>
                            <td style="width:10px;">&nbsp;Đặt mật khẩu mặc định&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td align="center"><a href="@Url.Action("Update", "User", new { id = item.Id })"><img border="0" src="/iconcp/preview.png"></a></td>
                                <td align="center"><a href="@Url.Action("ChangePasswordToDefault", "User", new { id = item.Id })"><img border="0" src="/iconcp/icon_edit.gif"></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>