@using InventoryManagement.Commons.Enums
@model InventoryManagement.Models.SaleInvoiceModels.DetailSaleInvoiceViewModel
@{
    ViewData["Title"] = "Chi tiết hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var type = (InvoiceTypeEnum)ViewBag.InvoiceType;
}

<table id="tblAdd" style="width:100%;" cellpadding="0" cellspacing="1">
    @{ 
        var invoice = Model.SaleInvoiceViewModel;
        var detais = Model.MerchandiseSaleInvoiceViewModels;
    }
    <tbody>
        <tr class="tr-view">
            <td colspan="2" class="td-view-left">
                <a asp-action="Index" class="button btn-add">Danh sách phiếu</a>
                <a href="@Url.Action("ExportPdf", "SaleInvoice", new { id = Model.SaleInvoiceViewModel.Id})" class="button btn-add">Xuất hóa đơn</a>
            </td>
        </tr>
        <tr>
            <td class="td1"><div style="width:105px;">Người lập phiếu:</div></td>
            <td class="td2"><input value="@invoice.UserName" type="text" maxlength="150" class="textbox" style="width: 250px;"></td>
        </tr>
        @{
            if (Model.SaleInvoiceViewModel.InvoiceType == InvoiceTypeEnum.Invoice)
            {
                <tr>
                    <td class="td1"><div style="width:105px;">Tên khách hàng:</div></td>
                    <td class="td2"><input value="@invoice.CustomerName" type="text" maxlength="150" class="textbox" style="width: 250px;"></td>
                </tr>
                <tr>
                    <td class="td1">Số điện thoại:</td>
                    <td class="td2"><input value="@invoice.CustomerPhoneNumber" type="text" class="textbox" style="width: 250px;"></td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="td1"><div style="width:105px;">Tên đối tác:</div></td>
                    <td class="td2"><input value="@invoice.PartnerName" type="text" maxlength="150" class="textbox" style="width: 250px;"></td>
                </tr>
            }
        }
        <tr>
            <td class="td1">Ghi chú:</td>
            <td class="td2"><textarea rows="8" cols="20" class="textbox" style="width:98%;">@invoice.Note</textarea></td>
        </tr>
        @if (type != InvoiceTypeEnum.ReturnInvoice)
        {
            <tr>
                <td class="td1">Phương thức thanh toán: </td>
                <td class="td2"><input value="@invoice.PaymentMethod" type="text" class="textbox" style="width: 250px;" /></td>
            </tr>
            <tr>
                <td class="td1">Thông tin đơn vị vận chuyển:</td>
                <td class="td2"><textarea rows="8" cols="20" class="textbox" style="width:98%;">@invoice.ShippingCarrier</textarea></td>
            </tr>
        }
        <tr>
            <td class="td1">Danh sách sản phẩm: </td>
            <td class="td2">
                <table id="merchandiseTable" class="table">
                    <thead class="thead">
                        <tr>
                            <th class="th">Sản phẩm</th>
                            <th class="th">Số lượng</th>
                            @{
                                var colspan = 1;
                                if (type != InvoiceTypeEnum.ReturnInvoice)
                                {
                                    colspan = 3;
                                    <th class="th">Giá bán</th>
                                    <th class="th">Voucher</th>
                                }
                            }
                            <th class="th">Thanh toán</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @foreach (var item in detais)
                        {
                            <tr>
                                <td class="td">@item.MerchandiseName</td>
                                <td class="td">@item.Quantity</td>
                                @if (type != InvoiceTypeEnum.ReturnInvoice)
                                {
                                    <td class="td">@item.SellingPriceToVND</td>
                                    <td class="td">@item.Voucher %</td>
                                }
                                <td class="td">@item.SubTotalToVND</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="tfoot">
                        <tr>
                            <th class="th"></th>
                            <th class="th" colspan="@colspan">Totals</th>
                            <td class="td">@invoice.TotalToVND</td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </tbody>
</table>


