@model InventoryManagement.Models.OauthModels.ChangePasswordRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>
        Đổi mật khẩu
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/iconcp/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="/iconcp/logo.png" style="height: 30px; vertical-align: middle; display: inline-block; float: left;" alt="" />
            <span style="display: inline-block; float: left; margin: 5px 0 0 15px;">Đổi mật khẩu</span>
            <div style="clear: both;"></div>
        </div>
        <div class="login-box-body">
            <form method="post" asp-controller="Oauth" asp-action="ChangePassword" id="form1">
                <input type="hidden" asp-for="@Model.ReturnUrl" value="@Model.ReturnUrl" />
                <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId" />
                <div class="form-group">
                    <input asp-for="@Model.OldPassword" type="password" class="form-control" placeholder="Mật khẩu cũ" />
                </div>
                <div class="form-group">
                    <input asp-for="@Model.NewPassword" type="password" class="form-control" placeholder="Mật khẩu mới" />
                </div>
                <div class="form-group">
                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu mới" />
                </div>
                <div class="form-group" style="border-top: 1px solid #ddd; padding-top: 15px; text-align: right; margin-bottom: 5px;">
                    <a asp-controller="Oauth" asp-action="ForgotPassword" style="color: #188dd9; display: inline-block; float: left;">Quên mật khẩu?</a>
                    <input type="submit" name="Button1" value="Xác nhận" id="Button1" class="btn" />
                </div>
            </form>
            <span id="lblinvalid" style="color: red;"></span>
        </div>
    </div>
</body>
</html>
